@import "bootstrap/scss/bootstrap";
@font-face {
    font-family: "Aldrich";
    src: url("../public/fonts/Aldrich-Regular.ttf");
}

header a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}

.app {
    min-height: 100vh;
    padding-top: 0;
}

.back-home {
    color: #0FA3B1;
    position: relative;
    padding-left: 20px;
    &::before {
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f060";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    &:active {
        border: none;
    }
}

.init-container {
    background-color: #474A4F;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    .title {
        font-size: 5vh;
        color: #A5C100;
        font-family: "Aldrich";
        margin-bottom: 0
    }
    .description {
        font-size: 3vh;
        font-family: "Aldrich";
    }
    .text-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn.init-btn,
    button {
        border: none;
        background-color: #A5C100;
        color: #474A4F;
        font-family: "Aldrich";
        padding: 7px 15px 5px 15px;
        margin: 0;
        &:hover {
            background-color: #A5C100;
            color: #474A4F;
        }
    }
}

.init-container {
    background-color: #474A4F;
    height: 100vh;
    display: flex;
    align-items: center;
    .title {
        font-size: 5vh;
        color: #A5C100;
        font-family: "Aldrich";
        margin-bottom: 0
    }
    .description {
        font-size: 3vh;
        font-family: "Aldrich";
    }
    .text-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn.init-btn,
    button {
        display: flex;
        justify-content: space-between;
        gap: 1em;
        border: none;
        background-color: #A5C100;
        color: #474A4F;
        font-family: "Aldrich";
        padding: 7px 15px 5px 15px;
        margin: 0;
        border-radius: 0;
        & * {
            align-self: center;
        }
        &:hover {
            background-color: #BCEA13;
            color: #474A4F;
        }
        &:disabled {
            background-color: #92a400;
        }
    }
}

.maintenance-container {
    background-color: #474A4F;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
        font-family: "Aldrich";
        letter-spacing: 1px;
        opacity: 0.9;
    }
    p {
        font-family: "Aldrich";
        opacity: 0.7;
        text-align: center;
    }
}

